h1, h2, h3, h4, ul, li, p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}

body, html{
    font-family: "Nadeem";
    color: #333;
    background-color: rgba(147, 226, 96, 0.8); /* Sets the rest of the website (that would otherwise be white) to green */
}


header{
    padding: 65px;
    background-image: url("images/title_bg.gif"); /* Uses a moving gif as a background for the header section */
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

main{
    background-color: rgb(255, 245, 218);
    max-width: 800px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main form {
    width: 40%;
}

main article{
    width: 45%;
}

h1, h2, h3, h4, p {
    margin-bottom: 1em;
}

#title {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 1em;
}

input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid #666;
    padding: 10px;
    box-sizing: border-box;
}

/* Turns button green when user hovers over the submit button */
#destination_details_form button:hover {
    background-color: #2de615; /* Green */
    color: black;
}

/* Turns button red when user hovers over the remove button */
#destinations_container button:hover{
    background-color: #ff6f37;
    color: black;
}

/* Card container to display each destination the user enters */
.card {
    padding: 20px;
    background-color: #cceeff;
    margin-bottom: 20px;
}